/debhelper-build-stamp
/*.debhelper.log
/*.substvars
/*.debhelper
/config.toml
/files
/libstd-rust-*/
/libstd-rust-dev/
/rust-doc/
/rust-gdb/
/rust-lldb/
/rust-src/
/rustc/
/tmp/
/patches/*~
/watch-beta
